target/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css

# Created by https://www.toptal.com/developers/gitignore/api/helm
# Edit at https://www.toptal.com/developers/gitignore?templates=helm

### Helm ###
# Chart dependencies
**/charts/*.tgz

# End of https://www.toptal.com/developers/gitignore/api/helm
